<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Ernestblaz_AdminPanel::vendor" title="Vendor" sortOrder="10">
                    <resource id="Ernestblaz_AdminPanel::manage" title="Manage Vendors" sortOrder="50" />
                    <resource id="Ernestblaz_AdminPanel::post" title="Post Vendor" sortOrder="100" />
                </resource>
            </resource>
        </resources>
    </acl>
</config>
